.form-products {
    @include clearfix;
    margin-bottom: 30px;
    font-size: 16px;

    .column {
        float: left;
        width: 230px;
        margin-right: 10px;
        margin-left: -5px;
        padding: 0;

        .item {
            position: relative;
            padding: 6px 5px 6px 30px;

            &.dark {
                background: url("images/gray-opacity-bg.png");
            }
        }

        label {
            position: static;
            color: #606060;

            span {
                position: absolute;
                width: 14px;
                height: 14px;
                top: 7px;
                left: 7px;
                margin-right: 15px;
                border: 1px solid #000;
                border-radius: 0;
                vertical-align: middle;
                background: transparent;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
                cursor: pointer;
            }

            .checked {
                display: none;
                width: 6px;
                height: 6px;
                margin: 4px 0 0 4px;
                border-radius: 0;
                background: #000;
                box-shadow: none;
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                width: 0;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }

            input:checked ~ .checked {
                display: block;
                width: 6px;
                height: 6px;
                margin: 4px 0 0 4px;
                border-radius: 0;
                background: #000;
                box-shadow: none;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    input[type=submit] {
        float: left;
        clear: both;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 4px 28px 5px 28px;
        margin-top: 25px;
        cursor: pointer;
        font-weight: bold;
        background: url("images/button.png") no-repeat;
    }

    @include screen-down("lg") {
        .column {
            width: 153px;
        }
    }

    @include screen-down("md") {
        .column {
            width: 170px;
        }
    }

    @include screen-down("sm") {
        .column {
            width: 195px;
        }
    }

    @include screen-down("xs") {
        .column {
            float: none;
            width: auto;
        }
    }
}